<%- include("partials/header"); %>


<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit quidem corrupti ipsam necessitatibus debitis culpa? Nulla saepe officiis consequatur quod quam? Nulla quas consectetur accusantium est labore facilis distinctio soluta id quisquam error odit nobis dolores architecto adipisci aut animi, dolore facere cum odio aspernatur doloribus delectus voluptatum quod! Iste natus ab vitae accusamus quis nihil officia qui eligendi enim ipsa dicta reiciendis animi exercitationem suscipit iusto voluptatem temporibus et vero cupiditate culpa, deserunt tempore praesentium repellendus tenetur. Libero placeat repellat iure, adipisci itaque, aliquam ut non amet reiciendis dicta blanditiis fugit quas quibusdam mollitia nam praesentium, cum esse!</p>

<%- include("partials/footer"); %>
